body{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: auto;
    
}

.container{
    display: grid;
    width: 99vw;
    height: 100%;
    justify-items: center;
}

.contain_trafic{
    display: grid;
    grid-template-columns: 200px 200px;
    width: auto;
    height: 250px;
    background-color: rgb(233, 233, 233);
    border: 2px rgb(32, 32, 32) dashed;
    justify-items: center;
    align-items: center;
}

.trafic{
    width: auto;
    height: auto;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px;
    background-color: rgb(88, 88, 88);
    padding: 5px;
    border-radius: 20px;
    align-items: center;
    justify-items: center;
}

.colors{
    display: grid;
    width: 60px;
    height: 60px;
    background-color: rgb(126, 126, 126);
    border-radius: 100%;
}

.trafic_horizontal{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0fr 0fr 0fr;
}


#color_red{
    background-color: rgb(196, 0, 0);
}

#color_yelow{
    background-color: rgb(196, 196, 0);
}

#color_green{
    background-color: rgb(0, 168, 0);
}

#color_red_Active{
    background-color: rgb(255, 0, 0);
}

#color_yelow_Active{
    background-color: rgb(255, 255, 0);
}

#color_green_Active{
    background-color: rgb(0, 255, 0);
}